@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.floating {
    animation: float 3s ease-in-out infinite;
}

@media (max-width: 768px) {

    .tree-branch::before,
    .tree-branch::after {
        display: none;
    }
}